<?xml version="1.0" encoding="UTF-8" ?>

<launch>

    <node pkg="tf" type="static_transform_publisher" name="optical_link" args="0 0 0 -1.57079632679 0 -1.57079632679  camera_link camera_color_optical_frame 100" />
    <node pkg="astar" type="pc2grid" name="pc2grid" output="screen">
        <remap from="depthcam_map" to="map"/>
    </node>

    <node pkg="astar" type="path_plan" name="path_plan" output="screen"/>
    
    <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_d435_rgbd.launch">
        <arg name="camera" value="camera" />
    </include>


</launch>