<?xml version="1.0" ?>

<launch>
    <arg name="eth0" default="10.42.0.1" />
    <arg name="wlo0" default="192.168.50.240" />

    <node pkg="bridge" type="bridge.py" name="bridge_to_car" args="$(arg eth0)" output="screen">
        <param name="bridge_type" value="Twist" />
        <param name="bridge_from" value="/teleop/cmd_vel" />
        <param name="bridge_to" value="/mobile_base/commands/velocity" />
    </node>

    <node pkg="bridge" type="bridge.py" name="bridge_to_pc" args="$(arg wlo0)" output="screen">
        <param name="bridge_type" value="Image" />
        <param name="bridge_from" value="/camera/color/rect_raw" />
        <param name="bridge_to" value="/teleop/image" />
    </node>

</launch>